[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
molecule = {extras = ["lint", "vagrant"], version = "*"}
python-vagrant = "*"
molecule-vagrant = "*"
ansible-lint = "*"
libvirt-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
